*~
*.bin
build
.dropbox
.~lock*
.mapb.bin
.mapb.p8
.compile.lua
out*.p8
*.p8l
sheet.png
*.swo
*.swp
tags
.tmp_map_data.lua
.zeldo_outline_copy.p8
.code.lua
.map.txt

*.p8.png
!.archive/*.p8.png
!template/.code.lua
!old-zeldo-game/.code.lua
!2022-zeldo-rewrite/.code.lua
!2022-minijam108/.code.lua
!2022-gmtk/.code.lua
!2022-ld51/.code.lua
!2023-picodex/.code.lua
!2023-bwpicodex/.code.lua
!2023-picodex/.map.txt
!2023-trijam226/.code.lua
!2023-pixlr/.code.lua

2023-picodex/spriteviewer/*.png
2023-picodex/spriteviewer/*.p8
2023-picodex/spriteviewer/*.gif

2023-bwpicodex/*.png
2023-bwpicodex/.*.png
